<h1>admin/dashboard#index</h1>
<p>Find me in app/views/admin/dashboard/index.html.erb</p>
<hr>
		<span style="padding-right: 30px"><%=link_to "New Post", new_admin_post_path%></span>
		<span style="padding-right: 30px"><%= link_to "Posts", admin_posts_path %></span>
		<span style="padding-right: 30px"><%= link_to "Pages", admin_pages_path %></span>
		<span style="padding-right: 30px"><%= link_to "Media", admin_uploads_path %></span>
		<span style="padding-right: 30px"><%= link_to "Categories", admin_caregories_path %></span>
		<span style="padding-right: 30px"><%= link_to "Comments", admin_comments_path %></span>
		<% if session[:access_level] == "ROOT" or "ADMIN" %>
			<span style="padding-right: 30px"><%= link_to "Users", admin_users_path %></span>
		<% end %>
		<span style="padding-right: 30px"> <%= link_to "Settings", admin_settings_path %></span>
<hr>
<h3>Activity</h3>
<ul>
	<li>Posts: <%= @activity[:posts] %></li>
	<li>Comments: <%= @activity[:comments] %></li>
	<li>Pages: <%= @activity[:pages] %></li>
</ul>
<hr>
<h3>Quick Draft</h3>
<table>
<%= form_for(:draft, url: {:action => :draft}, method: "POST") do |f| %>
<%= f.hidden_field :user_id, value: session[:user_id] %>
<%= f.hidden_field :status, value: "DRAFT"  %>
<%= f.hidden_field :type_set, value: "POST" %>
<th><%= f.text_field(:title) %></th>
<td><%= f.submit("send") %></td>
<% end %>
</table>
<hr>