<h1>Authors#index</h1>
<p>Find me in app/views/authors/index.html.erb</p>
<hr>
<ul>
<%= puts @authors %> 
<% @authors.each do |author| %>
<li><h2><%= link_to author.full_name, "/@#{author.username}" %></h2></li>
<li><%= author.bio %></li>
<li><%= link_to author.public_email, "mailto:#{author.public_email}" %></li>
<li>recent posts:<br>
	<% posts = author.posts.last(5).reverse %> 
	<% posts.each do |post| %>
		<tl><%= link_to post.title, post_path(permalink: post.permalink) %> <%= post.publish_at %></tl><br>
	<% end %>
</li>
<hr>
<% end %>
<% if @page_num != 1 %>
	<% @page_num.times do |p| %>
		<% p = p + 1 %>
		<% if p == @current_page %>
		<b> [ <%= link_to p.to_s, authors_path(page: p)  %> ] </b>
		<% else %>
			<%= link_to p.to_s, authors_path(page: p) %>
		<% end %>
	<% end %>
<% end %>