<h1>Admin::Posts#delete</h1>
<p>Find me in app/views/admin/posts/delete.html.erb</p>
<hr>
<ul>
	<li><%= @post.title %></li>
	<li><%= @post.created_at %></li>
	<li><%= @post.content %></li>
	<li><%= @post.status.capitalize %></li>
	<li><%= @post.comments.count %></li>
</ul>
<h3>Are u sure delete this post?</h3>
<%= form_for(@post, method: "DELETE", url: {action: :destroy}) do |f| %>
<%= f.hidden_field :id, value: @post.id %>
<%= f.submit "Yes, I'm Sure", color: "red" %>
<% end %>