<h1>Posts#search</h1>
<p>Find me in app/views/posts/search.html.erb</p>
<%= @posts %>
<ul>
	<% @posts.each do |post| %>
	<li><h3><%= link_to post.title, post_path(post.permalink) %></h3></li>
	<li><%= post.user.full_name %></li>
	<li><%= post.status %></li>
	<li><%= post.publish_at %></li>
	<li><%= post.content %></li>
	<hr>
	<% end %>
</ul>
