<h1>Posts#show</h1>
<p>Find me in app/views/posts/show_page.html.erb</p>
<hr>
<% if !flash[:access_error].blank? %>
	<h3 style="color:red" ><%= flash[:access_error] %></h3>
<% else %>
	<ul>
		<li><h1><%= @page.title %></h1></li>
		<li>By <%= link_to @page.user.full_name, "/@#{@page.user.username}"%></li>
		<li><%= @page.content %></li>
		<li><%= @page.publish_at %></li>
		<li><%= @page.meta_keywords %></li>
	</ul>

	<hr>
	<% if !flash[:comment_notice].blank? %>
		<h3 style="color:green" ><%= flash[:notice] %></h3>
	<%elsif !flash[:comment_error].blank? %>
		<h3 style="color:green" ><%= flash[:error] %></h3>
	<% end %>
	<h3>Leave your comment:</h3>
	<table>
	<%= form_for(@comment, :method => "post", :url => comment_page_path(@page.permalink)) do |f| %>
		<%= f.hidden_field :post_id ,:value => @page.id %>
		<tr>
			<th><%= f.label(:author) %></th>
			<td><%= f.text_field :author %><td>
		</tr>
		<tr>
			<th><%= f.label(:author_url) %></th>
			<td><%= f.text_field :author_url %></td>
		</tr>
		<tr>
			<th><%= f.label(:author_email) %></th>
			<td><%= f.text_field :author_email %></td>
		</tr>
		<tr>
			<th><%= f.label(:content) %></th>
			<td><%= f.text_area  :content %></td>
		</tr>
		<tr>

			<th></th>
			<td><%= submit_tag("Submit") %></td>
		</tr>

	<% end %>
	</table>
	<hr>
	<ul>
	<% @page.comments.each do |comment| %>
		<% if comment.user %>
			<li><%= link_to  comment.user.full_name, "/@#{comment.user.username}" %></li>
		<% else %>
			<li>
				<% if !comment.author_url.blank? %>
					<%= link_to comment.author, "http://" + comment.author_url.to_s %>
				<% else %>
					<%= comment.author %>
				<% end %>
			</li>
		<% end %>
		<li><%= comment.content %></li>
		<hr>
	<% end %>
	</ul>
<% end %>