<h1>admin/users#edit</h1>
<p>Find me in app/views/admin/users/edit.html.erb</p>
<hr>
<% if !flash[:error].blank? %>
	<p style="color:red" ><%= flash[:error] %></p>
	<hr>
<% end %>
<table>
	<%= form_for(@user, method: "PATCH", url: {action: :update}) do |f| %>
	<tr>
		<td><%= f.label :full_name %></td>
		<td><%= f.text_field :full_name %></td>
	</tr>
	<tr>
		<td><%= f.label :username %></td>
		<td><%= f.text_field :username %></td>
	</tr>
	<tr>
		<td><%= f.label :bio %></td>
		<td><%= f.text_field :bio %></td>
	</tr> 
	<tr>
		<td><%= f.label :email %></td>
		<td><%= f.text_field :email %></td>
	</tr>
	<tr>
		<td><%= f.label :public_email %></td>
		<td><%= f.text_field :public_email %></td>
	</tr>
	<tr>
		<td><%= f.label :avatar %></td>
		<td><%= f.file_field :avatar %></td>
	</tr>
	<% if session[:access_level] == "ROOT" %>
	<tr>
		<td><%= f.label :access_level %></td>
		<td><%= f.select :access_level, [["Root", "ROOT"], ["Admin" , "ADMIN"], ["User", "USER"]] %></td>
	</tr>
	<% end %>
	<tr>
		<td></td>
		<td><%= f.submit "submit"%></td>
	</tr>
	<% end %>
</table>