<h1>Admin::Users#index</h1>
<p>Find me in app/views/admin/users/index.html.erb</p>
<% if !flash[:notice].blank? %>
	<p style="color:green" ><%= flash[:notice] %></p>
	<hr>
<% end %>
<% if !flash[:error].blank? %>
	<p style="color:red" ><%= flash[:error] %></p>
	<hr>
<% end %>
<% @page_num.times do |p| %>
	<% p = p + 1 %>
	<% if p == @current_page %>
	<b> [ <%= link_to p.to_s, admin_users_path(page: p)  %> ] </b>
	<% else %>
		<%= link_to p.to_s, admin_users_path(page: p)  %>
	<% end %>
<% end %>

<hr>
<table>
	<% @users.each do |user| %>
	<tr>
	<td><%= user.access_level.capitalize %></td>
	<td><%= link_to user.full_name, admin_user_path(user.username) %></td>
	<td><%= user.username %></td>
	<td><%= user.created_at %></td>
	<td><%= link_to user.public_email %></td>
	</tr>

	<% end %>
</table>
<hr>
<% @page_num.times do |p| %>
	<% p = p + 1 %>
	<% if p == @current_page %>
	<b> [ <%= link_to p.to_s, admin_users_path(page: p)  %> ] </b>
	<% else %>
		<%= link_to p.to_s, admin_users_path(page: p)  %>
	<% end %>
<% end %>
