<h1>Admin::Users#show</h1>
<p>Find me in app/views/admin/users/show.html.erb</p>
<hr>
<% if !flash[:notice].blank? %>
	<p style="color:green" ><%= flash[:notice] %></p>
	<hr>
<% end %>
<table>
	<tr>
		<th>Name:</th>
		<td><%= @user.full_name %></td>
	</tr>
	<tr>
		<th>Email</th>
		<td><%= link_to @user.public_email %></td>
	</tr>
	<tr>
		<th>Bio</th>
		<td><%= @user.bio %></td>
	</tr>
	<tr>
		<th>SingUp at:</th>
		<td><%= @user.created_at %></td>
	</tr>
</table>
<% if (@user.username == session[:username] or session[:access_level] == "ROOT" ) or (@user.access_level == "USER" and session[:access_level] == "ADMIN" ) %>
	<h4><%= link_to "Edit Profile", edit_admin_user_path(@user.username) %>  <%= link_to "Delete Account", delete_admin_user_path(@user.username) %></h4>
<% end %>
	<h4>Recent Posts</h4>
	<table>
<% if !@recent_posts.blank? %>
	<hr>
	<% @recent_posts.each do |post| %>
	<tr>
	<th><%= link_to post.title, post_path(post.permalink) %></th>
	<td><%= post.created_at %></td>
	</tr>
	<% end %>
</table>
<hr>
<%= link_to "Show all Posts of #{@user.full_name}", posts_admin_user_path(@user.username)%>
<% elsif @user.username == session[:username] %>
<h3 style="color:orange; text-align:center" ><%= link_to "Create your Frist Post!", new_admin_post_path %></h3>
<% end %>